name: Docker Compose Build Test

on:
  push:
  pull_request:

jobs:
  compose-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build all services
        run: docker compose build
